body {
  background-color: #365674;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 30px;
}
#container {
  background-color: #638c61;
  max-width: 60%;
  color: #ffffcc;
  border-radius: 10px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  padding: 2vw;
}

@media screen and (max-width: 992px) {
  body {
    font-size: 80px;
  }
  #container {
    max-width: 80%;
  }
}
